# Ortam
NODE_ENV=production

# MongoDB Atlas
MONGODB_URI=mongodb+srv://KULLANICI:SIFRE@cluster0.xxxxx.mongodb.net/mezun_egew?appName=Cluster0

# JWT (en az 32 karakter)
JWT_SECRET=buraya-en-az-32-karakterlik-guclu-bir-sifre-yazin
JWT_EXPIRES_IN=1d
JWT_EXPIRES_IN_HATIRLA=3650d

# Mail (Brevo SMTP)
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USER=xxxx@smtp-brevo.com
MAIL_PASS=brevo-smtp-sifresi
MAIL_FROM=Egemyo Mezun <noreply@egemyo.com>

# Okul mail domain
OKUL_MAIL_DOMAIN=ogrenci.ege.edu.tr

# CORS - Railway URL'iniz
ALLOWED_ORIGIN=https://mezun-ege-website-production.up.railway.app
